@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #520a70;
  --color-secondary: "#6383f0";
  --color-accent: "#d695f5";
  --color-dark: "#09060a";
  --color-lightGreen: "#c5fb79";
}
